<div class="visible-xs">
  <hr />
</div>

<div class="hidden-xs">
<br />
</div>
<center>
  <div style="max-width: 600px">
    <em>
      Бесплатная система рейтингов. Здесь можно создать свой рейтинг на любую тему и провести голосование среди своих друзей. Спорт, кино, программирование &dash; список тем ограничен только твоей фантазией!
    </em>
  </div>
</center>
<div class="hidden-xs">
<br />
</div>

<div class="visible-xs">
  <hr />
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Популярные</h2>
    <% for rating in @ratings_popular %>
      <h3><%= link_to rating.title, rating %></h3>
    <% end %>
  </div>

  <div class="visible-xs">
    <br />
    <hr />
  </div>
  <div class="col-sm-6">
    <h2>Новые</h2>
    <% for rating in @ratings_recent %>
      <h3><%= link_to rating.title, rating %></h3>
    <% end %>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<div class="text-center">
  <%= link_to 'Добавить рейтинг', new_rating_path, :class => "btn btn-primary btn-lg" %>
</div>
<br />
<br />
