<div class="rating">
  
  <div class="rating-widget">
  </div>

  <br />
  <br />
  <br />

  <div class="items">
  </div>

  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <div class="new-item-form"></div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />

<%= javascript_tag do %>
  window.DATA = window.DATA || [];

  window.DATA["ratings/items"] = <%= raw json_escape(@rating.items.sort_by(&:rating).reverse.to_json) %>;
  window.DATA["ratings/rating"] = <%= raw json_escape(@rating.as_json(except: :items).to_json) %>;
  window.DATA["ratings/items_path"] = "<%= rating_items_path(@rating) %>";
<% end %>

