<div class="row item">
  <div class="col-xs-1 hidden-xs">
    <div class="position">
      <%= position %>.
    </div>
  </div>

  <div class="col-xs-1 vote-area">
  </div>

  <div class="col-xs-8 col-sm-offset-1 col-xs-offset-1 col-md-9 col-md-offset-1">
    <div class="title">
      <%= title %>

      <div class='controls pull-right'></div>
    </div>
  </div>
</div>
