<div class="row item">
  <div class="col-xs-1 hidden-xs">
    <div class="position">
      <%= position %>.
    </div>
  </div>

  <div class="col-xs-1 vote-area">
  </div>

  <div class="col-xs-8 col-sm-9 col-md-10">

    <div class="row">

      <div class="col-md-2 col-sm-2">

        <div class="picture hidden-xs">
        </div>
        <div class="picture picture-lg visible-xs">
        </div>

      </div>
      <div class="col-md-10 title-wrapper">

        <span class="title">

          <%= title %>
          <span class="link">
            <a href="<%= link %>" target="_blank" title="Перейти на внешнюю страницу"><i class='glyphicon glyphicon-link'></i></a>
          </span>
        </span>
        <div class="controls pull-right">
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
