<div class="row item">
  <div class="col-xs-1 hidden-xs">
    <div class="position">
      <%= position %>.
    </div>
  </div>

  <div class="col-xs-1 vote-area">
  </div>

  <div class="col-xs-8">

    <div class="row">

      <div class="col-md-2 col-sm-2">

        <div class="picture hidden-xs">
        </div>
        <div class="picture picture-lg visible-xs">
        </div>

      </div>
      <div class="col-md-10">
        <span class="title">
          <%= title %>
        </span>
        <div class="controls pull-right">
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
