<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    <img class="avatar" src="<%= avatar %>"  title="<%= name %>"/>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <!--
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Separated link</a></li>
    -->
  </ul>
</div>
