<form>
  <div class="row">
    <div class="col-xs-11">
      <div class="form-group">
        <input type="text" class="form-control title" id="newItemTitle" placeholder="Новый элемент">
      </div>
    </div>
    <div class="col-xs-1">
      <div class="add-button btn btn-primary btn-circle" title="Добавить новый элемент">
        <i class="glyphicon glyphicon-plus"></i>
      </div>
    </div>
  </div>
</form>
