// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ratings {
  .teaser-line {
    height: 50px;
    overflow: hidden;
    width: 100%;

    .picture {
      width: 50px; height: 50px; background: white;
      background-size:cover;
      background-position:center;
      float: left;
      margin-right: 5px;
    }
  }
}

.ratings-show {
  .rating-widget {
    .edit-form {
      max-width: 600px;
    }
    .description { max-width: 600px }
  }

  h1 {
    font-size: 40pt;
  }

  .item {
    min-width: 400px;

    .position { font-size: 22pt; }

    .vote-area {
      min-width: 80px;

      .btn-vote {
        position: relative; top: 10px;

        .vote-teaser { color: white }
      }
      .rating { padding-left: 7px }
    }

    .title-wrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title {
      font-size: 22pt;

      .link { font-size: 12pt; margin-left: 10px; position: relative; top: -3px }
      a { color: #333 }
    }

    .picture {
      .picture_upload_label {
        width: 50px; height: 50px; background: #eee; padding-top: 15px;
      }

      width: 50px; height: 50px; background: white;
      background-size:cover;
      background-position:center;
    }

    .controls {
      position: relative;
      top: 10px;
    }
  }

  .new-item-form {
    max-width: 600px;

    .add-button { position: relative; top: 2px }
  }
}

@media screen and (max-width: 600px) {
  .ratings-show {
    h1 {
      font-size: 28pt;
    }

    .item {
      .title {
        font-size: 16pt;
      }

      .vote-area {
        min-width: 50px;

        .btn-vote {
          position: relative; top: 0px;

          .vote-teaser { color: white }
        }
      }

      .picture {
        .picture_upload_label {
          width: 30px; height: 30px; background: #eee; padding-top: 15px;
        }

        width: 30px; height: 30px; background: white;
        background-size:cover;
        background-position:center;
      }
    }
  }
}
