// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ratings-show {
  h1 { font-size: 40pt }
  .item {
    min-width: 400px;

    .position { font-size: 22pt; }

    .vote-area {
      min-width: 80px;

      .btn-vote { width: 74px; position: relative; top: 10px; }
      //.rating { font-size: 11pt; width: 30px; height: 22px }
    }

    .title { font-size: 22pt;  }

  }

}
