// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ratings-show {
  .rating-widget {
    .edit-form {
      max-width: 600px;
    }
    .description { max-width: 600px }
  }


  h1 { font-size: 40pt }
  .item {
    min-width: 400px;

    .position { font-size: 22pt; }

    .vote-area {
      min-width: 80px;

      .btn-vote {
        position: relative; top: 10px;


        .vote-teaser { color: white }
      }
      .rating { padding-left: 7px }
    }

    .title { font-size: 22pt;  }
  }

  .new-item-form {
    max-width: 600px;

    .add-button { position: relative; top: 2px }
  }

}
